<!DOCTYPE html>
<html>
  <head>
    <title>Happy Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag    "application" %>
    <%= stylesheet_pack_tag    "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div name="happy-store-navbar" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            Happy Shop
            <%= image_tag "smile.png", size: 24, class: "happy-shop--owner" %>
            <%= image_tag "store.png", size: 24, class: "happy-shop--shop" %>
          </a>
        </div>
      </div>
    </div>
    <div class="app-container">
      <%= yield %>
    </div>
  </body>
</html>
